.chat-card{
    /* border: 1px solid white; */
    clear: both;
    color: white;
    position: relative;
    float: left;
    padding: 4px;
    border-radius: 1px 12px 12px 12px;
    max-width: 60%;
    background-color: rgba(255, 255, 255, 0.052);
    margin: 3px 12px;
}

.chat-card img{
    display: none;
}

.chat-text{
    word-wrap: break-word;
    text-align: left;
    padding: 3px;
    margin: 2px 4px !important;
    background: none;
    font-size: 12px;
}

.chat-card.self{
    float: right;
    border-radius: 24px 24px 5px 24px;
    color: black;
    background-color: rgba(255, 255, 255, 0.859);
}

.chat-card.self .chat-text{
    color: black;
}

.chat-delivery-time{
    font-size: 8px;
    display: block;
    text-align: left;
    padding-left: 12px;
    background: none;
    color: rgba(255, 255, 255, 0.749);
}

.chat-card.self .chat-delivery-time{
    color: black;
}