.chat-card{
    /* border: 1px solid white; */
    clear: both;
    color: white;
    position: relative;
    float: left;
    padding: 4px;
    max-width: 60%;
    background-color: rgba(255, 255, 255, 0.052);
    margin: 4px 12px;
    border-radius: 0px 8px 8px 8px;
}

.chat-card img{
    display: none;
}

.chat-text{
    word-wrap: break-word;
    text-align: left;
    padding: 3px;
    margin: 2px 4px !important;
    background: none;
    font-size: 12px;
    
}

.chat-card.self{
    float: right;
    border-radius: 8px 8px 2px 8px;
    background-color: rgba(225, 225, 225, 0.993);
    
}

.chat-card.self .chat-text{
    color: black;
}

.chat-delivery-time{
    font-size: 8px;
    display: block;
    text-align: left;
    padding-left: 8px;
    background: none;
    color: rgba(255, 255, 255, 0.749);
    margin: 2px 4px;
}

.chat-card.self .chat-delivery-time{
    color: black;
}

.chat-card img{
    /* border: 1px solid red; */
    width: 100px;
    height: 65px;
    display: block;
}