.profile{
    border-bottom: 0.2px solid rgba(38, 38, 38, 0.383);
    height: 32px;
    display: flex;
    padding: 4px;
    text-decoration: none;
    color: rgba(205, 205, 205, 0.915);
}

.profile .avatar{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 8px;
}

.profile span.avatar{
    font-size: 14px;
    padding: 1.5px;
    padding-top: 2.5px;
    font-weight: 500;
    text-transform: uppercase;
}

.profile .username{
    height: 16px !important;
    margin: 0px ;
    margin-left: 8px;
    font-size: 14px;
    color: rgb(209, 209, 209);
    font-weight: 480;
}