*{
    color: white;
    text-align: center;
}

@font-face {
    font-family: 'password';
    src: url(https://jsbin-user-assets.s3.amazonaws.com/rafaelcastrocouto/password.ttf);
}

.pwd{
    font-family: 'password';
    
}

.pwd::placeholder{
    font-family:'Times New Roman', Times, serif
}

.App{
    padding-top: 65px;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background: rgba(17, 17, 17, 0.519);
}

::-webkit-scrollbar-button{
    background: none;
}

::-webkit-scrollbar-thumb:hover{
    background: rgb(73, 73, 73);
    border-radius: 8px;
}