.profile-page{
    display: block;
}

.profile-page .edit-btn{
    position: absolute;
    right: 10px;
    padding: 8px;
}

.profile-page .edit-btn .icn{
    display: block;
    text-align: center;
    margin: 2px 6px;
}

.profile-page .edit-btn p{
    margin: 0px 6px;
    display: inline-block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.472);
    font-weight: 520;
}

.profile-page .img-wrapper img{
    width: 165px;
    height: 160px;
    border-radius: 50%;
    background-color: black;
}

.profile-page .img-wrapper{
    /* border: 1px solid red; */
    width: 160px;
    height: 180px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    margin-top: 16px;

}

.profile-page .img-wrapper .icn{
    width: 35px;
    height: 35px;
    background-color: blue;
    border-radius: 50%;
    position: relative;
    padding: 8px;
    top: -65px;
    right: -25px;
}

.profile-page .img-wrapper input{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    padding: 8px;
    top: -85px;
    right: -75px;
    opacity: 0;
    z-index: 1;
}

.profile-page p.email{
    position: relative;
    top: -50px;
    font-size: 14px;
    color: rgb(110, 110, 110);
}

.profile-page .section{
    display: inline-flex;
    width: 90%;
    max-width: 680px;
    margin-bottom: 10px;
}

.profile-page .section .icn{
    font-size: 24px;
    padding: 0px 8px 8px;
}

.profile-page .section .main{
    width: 80%;
    text-align: left;
}

.profile-page label{
    font-size: 12px;
    font-weight: 520;
    color: rgba(255, 255, 255, 0.294);
}

/* .profile-page .main input{
    text-align: left;
    margin: 4px 4px 12px;
    padding: 8px 0px;
    font-size: 14px;
    font-weight: 480;
    color: rgb(162, 162, 162);
} */

.profile-page .main input{
    display: block;
    text-align: left;
    padding: 8px 0px;
    font-size: 14px;
    font-weight: 540;
    border: none;
    color: rgba(255, 255, 255, 0.812);
}

.user-preview p.email{
    position: relative;
    top: -20px;
}